:root {
   --gray: #F6F6F9;
   --blue: #295093;
   --nav-black: #515151;
   --title-color: #202020;
   --short-info-color: #434343;
   --date-color: #7688A4;
   --black: #000000;
   --white: #ffffff;
}

html {
   box-sizing: border-box;
 }
 
 *,
 *::after,
 *::before {
   box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   font-size: 16px;
 }

img {
   max-width: 100%;
   height: auto;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 25px;
}

/* *************** HEADER TOP INFO ************* */
.header-top {
   padding-top: 44px;
   padding-bottom: 23px;
   background-color: var(--gray);
   margin-bottom: 22px;
}

.header-top__info {
   display: flex;
   align-items: center;
   margin: 0 0 40px;
}

/* LOGO */

.top-logo {
   margin-right: 17px;
   padding: 7px 10px;
   border-radius: 5px;
   background-color: var(--white);
   box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}

.top-logo__text {
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   line-height: 33px;
   color: var(--blue);
   text-transform: uppercase;
   text-decoration: none;
}

/* CURRENT */
.rate__items {
   display: flex;
   list-style: none;
   padding-left: 0;
}

.rate__list {
   margin-right: 20px;
   font-size: 16px;
   color: var(--short-info-color);
}

.rate__icon {
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   padding-right: 5px;
   color: var(--blue);
}
/* TOP RIGHT */

.top__right {
   margin-left: auto;
   display: flex;
}

.search, 
.lang {
   margin-right: 22px;
}
.btn {
   background-color: var(--white);
   border-radius: 5px;
   border: none;
   cursor: pointer;
}

.search {
   position: relative;
   width: 40px;
   height: 40px;
}

.search::before {
   content: "";
   position: absolute;
   background: url("/images/search.svg") no-repeat;
   width: 18px;
   height: 18px;
   top: 11px;
   left: 11px;
}

.lang {
   position: relative;
   text-align: center;
   padding-left: 36px;
   width: 65px;
   height: 40px;
}

.lang::before {
   content: "";
   position: absolute;
   background: url("/images/flag.svg") no-repeat;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   left: 11px;
}


.join {
   position: relative;
   margin: auto;
   padding: 11px 11px 11px 37px;
   background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
   color:var(--white);
   text-decoration: none;
}

.join::before {
   content: "";
   position: absolute;
   background: url("/images/telegram.svg") no-repeat;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   left: 11px;
}

.join:hover {
   background: linear-gradient(225deg, #1E96C8 15.07%, #37AEE2 85.96%);
}

.telegram-btn {
   margin-right: 5px;
}


/* *************** HEADER TOP NAVIGATION ************* */

.top-nav {
   background-color: #fff;
   margin-bottom: 18px;
   box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
   padding: 22px 25px;
}

.top-nav__items {
   display: flex;
   margin: 0;
   padding-left: 0;
   list-style: none;
}

.top-nav__links {
   margin-right: 32px;
   color: var(--nav-black);
   font-weight: 500;
   font-size: 16px;
   line-height: 23px;
   text-decoration: none;
}

/* *************** COVID INFO ************* */

.covid {
   margin-bottom: 18px;
}

.covid__row {
   display: flex;
   align-items: center;
   padding: 15px;
   border-radius: 5px;
   background-color: var(--gray);
}

.covid__items {
   position: relative;
   justify-content: center;
}

.covid__numbers {
   color: var(--black);
   font-size: 24px;
   font-weight: 500;
}

.covid__title {
   position: relative;
   margin-left: 90px;
   padding-right: 40px;
   border-right: 2px solid #EB5569;
   font-size: 20px;
   font-weight: 500;
   line-height: 24px;
}

.covid__title::before {
   content: "";
   position: absolute;
   background-image: url("/images/virus.png");
   background-repeat: no-repeat;
   width: 43px;
   height: 45px;
   left: -65px;
}

.covid__patients,
.covid__recovereds,
.covid__died {
   position: relative;
   margin-left: 70px;
   padding-right: 71px;
   border-right: 2px solid #F4CCD1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}

.covid__patients::before,
.covid__recovereds::before,
.covid__died::before {
   content: "";
   position: absolute;
   background-repeat: no-repeat;
   width: 40px;
   height: 40px;
   left: -50px;
   top: 6px;
}

.covid__patients {
   padding-right: 50px; 
   color: #EB5569;
}

.covid__patients::before {
   background-image: url("/images/mask.png");
}

.covid__recovereds {
   color: #05B135;
}

.covid__recovereds::before {
   background-image: url("/images/green.png");
}

.covid__died {
   color: var(--black);
   border-right: none;
}

.covid__died::before {
   background-image: url("/images/ban.png");
}


/* ****************** MAIN NEW ****************** */

.main-news {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 20px;
   grid-row-gap: 18px;
   margin-bottom: 35px;
}

.main-news__title {
   margin: 11px 0;
   font-weight: 500;
   font-size: 17px;
   line-height: 20px;
   color: var(--title-color);
}

.main-news__link {
   text-decoration: none;
}
.main-news__image {
   border-radius: 5px;
}

.main-news__image:hover {
   opacity: 0.8;
}

.main-new__date {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: var(--date-color);
}


/* ****************** NOTIFICATION ****************** */

.notification {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 32px 20px 32px 55px;
   margin-bottom: 38px;
   background: rgba(239, 186, 84, 0.18);
}

.notification__text {
   position: relative;
   padding-left: 30px;
   margin: 0;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: var(--black);
}

.notification__text::before {
   content: "";
   position: absolute;
   background-image: url("/images/bell-icon.png");
   width: 31px;
   height: 35px;
   top: -5px;
   left: -17px;
}

.notification__link {
   background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
   color: var(--white);
   padding: 8px;
   padding-left: 15px;
   border-radius: 5px;
   text-decoration: none;
}

/* ****************** NEWS ****************** */

.news {
   display: grid;
   grid-template-areas:
    'lastNews lastNews famousNews'
    'lastNews lastNews middleAd';
    gap: 20px;
}

.last-news {
   grid-area: lastNews;
   margin-bottom: 38px;
}

.famous-news {
   grid-area: famousNews;
   min-height: 542px;
   max-width: 386px;
   background-color: var(--gray);
   border-radius: 5px;
   margin-top: 20px;
}

.middle-ad {
   grid-area: middleAd;
}

.last-news__text {
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: var(--black);
}

.last-news__items {
   display: flex;
   margin-bottom: 18px;
}

.report {
   margin-left: 20px;
}

.report__title {
   margin-top: 0;
   margin-bottom: 8px;
   color: var(--title-color);
   font-weight: 500;
   font-size: 17px;
   line-height: 20px;
}

.report__info {
   font-weight: normal;
   font-size: 15px;
   line-height: 18px;
   color: var(--short-info-color);
   margin-top: 0;
   margin-bottom: 12px;
}

.report__date {
   position: relative;
   padding-left: 20px;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   color: var(--date-color);
}

.report__date::before {
   content: "";
   position: absolute;
   background-image: url("/images/ic_outline-date-range.svg");
   background-repeat: no-repeat;
   width: 18px;
   height: 20px;
   left: 0;
}

.show-more {
   display: flex;
   width: 135px;
   margin: 0 auto;
   padding: 10px 32px;
   border-radius: 5px;
   background-color: var(--blue);
   color: var(--white);
}

.famous-news__container {
   padding: 16px 20px;
}

.famous-news__text {
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: var(--title-color);
   margin-bottom: 6px;
}

.famous-news__title {
   font-weight: normal;
   font-size: 17px;
   line-height: 20px;
   color: var(--title-color);
   margin-top: 0;
   margin-bottom: 11px;
}

.famous-news__line {
   border:none;
   border-bottom: 4px solid #E4E4E4;
   margin-top: 14px;
   margin-bottom: 18px;
}


/* ******************* FOOTER AD **************** */
.footer-ad {
   margin-bottom: 38px;
}

.footer-ad__row {
   display: flex;
   align-items: center;
   background-color: var(--gray);
}

.footer-ad__image {
   padding-top: 37px;
   padding-left: 19px;
   width: 19.66%;
}

.footer-ad__text {
   width: 43.83%;
}

.footer-ad__title {
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   color: var(--blue);
   margin-top: 40px;
   margin-bottom: 10px;
   max-width: 526px;
}

.footer-ad__info {
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   color: #333333;
   max-width: 526px;
}


.apps {
   display: flex;
   justify-content: flex-end;
   width: 36.5%;
}

.appstore {
   margin: 0 20px;
}

/* ******************* FOOTER ***************** */

.footer {
   background-color: var(--blue);
   color: var(--white);
}

.footer-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer-logo__text {
   background: #133C82;
   border-radius: 5px;
   padding: 11px 12px 6px 9px;
}

.social {
   display: flex;
   align-items: center;
}

.social__text {
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
}

.social__btn {
   position: relative;
   color: var(--blue);
   padding: 10px 9px 11px 33px;
   background-color: var(--white);
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   border-radius: 5px;
   margin-left: 10px;
}

.social__btn::before {
   content: "";
   position: absolute;
   background-image: url("/images/telegram.png");
   background-repeat: no-repeat;
   width: 18px;
   height: 20px;
   left: 10px;
}

.footer-line {
   border: none;
   border-top: 3px solid #133c82;
   padding-bottom: 12px;
}

.footer-items {
   display: flex;
}

.about {
   max-width: 365px;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   margin-right: 115px;
}

.about__title {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 16px;
}

.footer-nav {
   margin-right: 115px;
}

.footer-nav__items {
   list-style: none;
   padding-left: 0;
}

.footer-nav__link {
   color: var(--white);
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
}



.top-nav__links:hover, 
.main-news__title:hover, 
.report__title:hover, 
.famous-news__title:hover {
   color: var(--blue);
}

/* @media screen and (min-width: 1440px) {
   .top-nav__links {
      font-size: 17px;
   }
}

@media screen and (min-width: 1650px) {
   .top-nav__links {
      font-size: 22px;
   }
} */