:root {
   --gray: #F6F6F9;
   --blue: #295093;
   --nav-black: #515151;
   --title-color: #202020;
   --short-info-color: #434343;
   --date-color: #7688A4;
   --black: #000000;
   --white: #ffffff;
}

body {
   font-family: 'Rubik', sans-serif;
}

a {
   text-decoration: none;
}

img {
   max-width: 100%;
}

.header-top {
   width: 100%;
   background-color: var(--gray);
   margin-bottom: 22px;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 120px;
}

/* *************** HEADER TOP INFO ************* */
.header-top__info {
   display: flex;
   align-items: center;
   padding: 44px 0 40px;
}

.top-logo {
   border-radius: 5px;
   background-color: var(--white);
   box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
   padding: 7px 10px;
}

.top-logo__text {
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   line-height: 33px;
   color: var(--blue);
   text-transform: uppercase;
}

.rate__items {
   display: flex;
   list-style: none;
}

.rate__list {
   padding-right: 20px;
   font-size: 16px;
   color: var(--short-info-color);
}

.rate__icon {
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   padding-right: 5px;
   color: var(--blue);
}

.top__right {
   margin-left: auto;
   display: flex;
}

.btn {
   display: flex;
   align-items: center;
   padding: 11px;
   background-color: var(--white);
   border-radius: 5px;
   border: none;
   margin-left: 20px;
   cursor: pointer;
}

.lang-btn {
   margin-right: 5px;
   border-radius: 50%;
}

.join {
   background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
   color:var(--white);
}

.join:hover {
   background: linear-gradient(225deg, #1E96C8 15.07%, #37AEE2 85.96%);
}

.telegram-btn {
   margin-right: 5px;
}


/* *************** HEADER TOP NAVIGATION ************* */

.top-nav {
   background-color: #fff;
   margin-bottom: 18px;
}

.top-nav__items {
   list-style: none;
   display: flex;
   padding: 22px 25px;
   margin: 0;
   box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
}

.top-nav__links {
   margin-right: 36px;
   color: var(--nav-black);
   font-weight: 500;
   font-size: 1rem;
   line-height: 23px;
}


/* *************** HEADER TOP BANNER ************* */

.top-ad {
   padding-bottom: 23px;
}

/* *************** COVID INFO ************* */

.covid {
   margin-bottom: 18px;
}

.covid__row {
   background-color: var(--gray);
   display: flex;
   align-items: center;
   padding: 15px;
}

.covid__items {
   position: relative;
   display: flex;
   justify-content: center;
}

.covid__numbers {
   color: var(--black);
   font-size: 24px;
   font-weight: 500;
}

.covid__title {
   margin-left: 90px;
   padding-right: 40px;
   border-right: 2px solid #EB5569;
   font-size: 20px;
   font-weight: 500;
   line-height: 24px;
   position: relative;
}

.covid__title::before {
   content: "";
   position: absolute;
   background-image: url("/images/virus.png");
   background-repeat: no-repeat;
   width: 43px;
   height: 45px;
   left: -65px;
}

.covid__patients {
   margin-left: 70px;
   padding-right: 50px;
   border-right: 2px solid #F4CCD1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   position: relative;
   color: #EB5569;
}

.covid__patients::before {
   content: "";
   position: absolute;
   background-image: url("/images/mask.png");
   background-repeat: no-repeat;
   width: 40px;
   height: 40px;
   left: -50px;
   top: 6px;
}

.covid__recovereds {
   margin-left: 70px;
   padding-right: 71px;
   border-right: 2px solid #F4CCD1;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   position: relative;
   color: #05B135;
}

.covid__recovereds::before {
   content: "";
   position: absolute;
   background-image: url("/images/green.png");
   background-repeat: no-repeat;
   width: 40px;
   height: 40px;
   left: -50px;
   top: 6px;
}

.covid__died {
   margin-left: 70px;
   padding-right: 71px;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   position: relative;
   color: var(--black);
}

.covid__died::before {
   content: "";
   position: absolute;
   background-image: url("/images/ban.png");
   background-repeat: no-repeat;
   width: 40px;
   height: 40px;
   left: -50px;
   top: 6px;
}


/* ****************** MAIN NEW ****************** */

.main-news {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-column-gap: 20px;
   grid-row-gap: 18px;
   margin-bottom: 35px;
}

.main-news__title {
   margin: 11px 0;
   font-weight: 500;
   font-size: 17px;
   line-height: 20px;
   color: var(--title-color);
}

.main-new__date {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: var(--date-color);
}


/* ****************** NOTIFICATION ****************** */

.notification {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 55px;
   padding-right: 20px;
   margin-bottom: 38px;
   background: rgba(239, 186, 84, 0.18);
}

.notification__text {
   position: relative;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: var(--black);
   padding-left: 30px;
   margin-top: 35px;
   margin-bottom: 32px;
}

.notification__text::before {
   content: "";
   position: absolute;
   background-image: url("/images/bell-icon.png");
   width: 31px;
   height: 35px;
   top: -5px;
   left: -17px;
}

.notification__link {
   background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
   color: var(--white);
   padding: 8px;
   padding-left: 15px;
   border-radius: 5px;
}