:root {
   --gray: #F6F6F9;
   --blue: #295093;
   --nav-black: #515151;
   --title-color: #202020;
   --short-info-color: #434343;
   --date-color: #7688A4;
   --black: #000000;
   --white: #ffffff;
}

body {
   font-family: 'Rubik', sans-serif;
}

a {
   text-decoration: none;
}

.header-top {
   width: 100%;
   background-color: var(--gray);
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 120px;
}

/* *************** HEADER TOP INFO ************* */
.header-top__info {
   display: flex;
   align-items: center;
   padding: 44px 0 40px;
}

.top-logo {
   border-radius: 5px;
   background-color: var(--white);
   box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
   padding: 7px 10px;
}

.top-logo__text {
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   line-height: 33px;
   color: var(--blue);
   text-transform: uppercase;
}

.rate__items {
   display: flex;
   list-style: none;
}

.rate__list {
   padding-right: 20px;
   font-size: 16px;
   color: var(--short-info-color);
}

.rate__icon {
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   padding-right: 5px;
   color: var(--blue);
}

.top__right {
   margin-left: auto;
   display: flex;
}

.btn {
   display: flex;
   align-items: center;
   padding: 11px;
   background-color: var(--white);
   border-radius: 5px;
   border: none;
   margin-left: 20px;
   cursor: pointer;
}

.lang-btn {
   margin-right: 5px;
   border-radius: 50%;
}

.join {
   background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
   color:var(--white);
}

.join:hover {
   background: linear-gradient(225deg, #1E96C8 15.07%, #37AEE2 85.96%);
}

.telegram-btn {
   margin-right: 5px;
}


/* *************** HEADER TOP NAVIGATION ************* */

.top-nav {
   background-color: #fff;
   margin-bottom: 8px;
}

.top-nav__items {
   list-style: none;
   display: flex;
   padding: 22px 25px;
   margin: 0;
   box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
}

.top-nav__links {
   margin-right: 36px;
   color: var(--nav-black);
}